.button{
    -fx-background-color: #e8e8e8;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
    -fx-pref-height: 15px;
    -fx-background-insets: 0px 5px;

    -fx-padding: 10px 20px;
}

.button:hover{
    -fx-background-color: #d3d3d3;
}

.button:pressed{
    -fx-background-color: #a9a9a9;
}

.sidebar{
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
    -fx-padding: 10px;
}

.text{
    -fx-padding: 0px 0px 0px 20px;
}

.header {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}